

.Home {
  background-color: white;
  min-height: 100vh;
  padding: 6rem 4rem  2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  margin: 0;
}

.Header {
  width: 100%;
  padding: 1rem 4rem;
  margin-bottom: 20px; /* Adjust spacing as needed */
}


.CardsListHolder {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  gap: 2.3rem; 
  justify-content: center; /* Center the cards within the container */
}
