

.Home {
  background-color: white;
  min-height: 100vh;
  padding:0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  margin: 0;
}

.Header {
  width: 100%;
  padding: 1rem 4rem;
  margin-bottom: 20px; /* Adjust spacing as needed */
}


.CardsListHolder {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  gap: 2.3rem; 
  justify-content: center; /* Center the cards within the container */
}

.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.showLoader {
  opacity: 1;
  visibility: visible;
}
